/* font-family: "LatoBold"; */
@font-face {
	font-family: "LatoBold";
	src: url("../../vendor/fonts/Lato/LatoBold/Lato-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "LatoLight"; */
@font-face {
	font-family: "LatoLight";
	src: url("../../vendor/fonts/Lato/LatoLight/Lato-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "LatoRegular"; */
@font-face {
	font-family: "LatoRegular";
	src: url("../../vendor/fonts/Lato/LatoRegular/Lato-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}